@media screen and (max-width: 1200px){
    .navigation{
        flex-direction: column;
        gap: 10px;
        margin-bottom: 23px;
    }

    .nav-left{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .form-input{
        width: 50%;
    }
    .content-right{
        display: none;
    }

    .home-article{
        flex-direction: column;
        text-align: center;
    }
    
    .home-article-img{
        align-self: center;
    }

    .year-box{
        padding-top: 5px;
        position: static;
        display: flex;
        gap: 10px;
    }

    .year-box div{
        margin-top: 3px;
    }

    .home-article-img .img{
        width: 70vw;
    }

    .row{
        flex-direction: column;
    }

    .post-img{
        height: auto;
    }
}